
.video-container {
  background-color: black;
  text-align: center;
  padding: 0;
  margin: 0 auto;
  width: 100%;
  height: auto;
  border: 1px solid black;
}


.video-container video {
  width: 100%;
  height: auto;
  display: block;
  padding: 0;
  margin: 0;
}


.video-container .not-supported {
  color: white;
  padding-top: 110px;
  padding-bottom: 110px;
}



#video-controls {
  padding: 1rem;
}



#video-controls > * {
  display: inline-block;
  vertical-align: middle;
  font-size: 70%;
}



#video-controls button {
  padding: 0;
}



#video-controls #seek-bar-wrapper {
  position: relative;
  border-radius: 1em;
  padding: 0 .5em;
  background: rgba(255, 255, 255, 0.3);
  width: 80%;
  height: 1.25em;
}



#video-controls #seek-bar-wrapper #seek-bar {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: -webkit-calc(100% - 2em);
  width: calc(100% - 2em);
  height: 1em;
  outline: none;
  opacity: 0.7;
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
  position: absolute;
  top: 50%;
  left: .5em;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}



#video-controls #seek-bar-wrapper #seek-bar:hover {
  opacity: 1;
}



#video-controls #seek-bar-wrapper #seek-bar::-webkit-slider-thumb {
  -webkit-appearance: none;
          appearance: none;
  width: 1em;
  height: 1em;
  background: #e5ac00;
  cursor: pointer;
}



#video-controls #seek-bar-wrapper #seek-bar::-moz-range-thumb {
  width: 1em;
  height: 1em;
  background: #e5ac00;
  cursor: pointer;
}



#video-controls #play-pause {
  position: relative;
  height: 3em;
  width: 3em;
  background: #e5ac00;
  border: 0;
}



#video-controls #play-pause.paused:before {
  height: 1.4em;
  border-style: double;
  border-width: 0 0 0 1em;
}



#video-controls #play-pause:hover {
  border-color: transparent transparent transparent grey;
}



#video-controls #play-pause:before {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: transparent;
  width: 0;
  height: 0;
  border-color: transparent transparent transparent white;
  -webkit-transition: 100ms all ease;
  transition: 100ms all ease;
  cursor: pointer;
  border-style: solid;
  border-width: .7em 0 .7em 1.3em;
}



#video-controls #mute {
  height: 3em;
  width: 3em;
  position: relative;
  overflow: hidden;
  background: none;
  border: 0;
}



#video-controls #mute span {
  display: block;
  width: 1em;
  height: 1em;
  background: #fff;
}



#video-controls #mute span:before,
#video-controls #mute span:after {
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}



#video-controls #mute span:after {
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-color: transparent #fff transparent transparent;
  border-width: 1.2em 1.36em 1.2em 0;
}



#video-controls #mute span:before {
  -webkit-transform: translateY(-50%) rotate(45deg);
      -ms-transform: translateY(-50%) rotate(45deg);
          transform: translateY(-50%) rotate(45deg);
  border-radius: 0 3.5em 0 0;
  content: '';
  position: absolute;
  width: .8em;
  height: .8em;
  border-style: double;
  border-color: #fff;
  border-width: .65em .65em 0 0;
  right: -.2em;
  -webkit-transition: all 0.05s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 0.05s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}



#video-controls #mute:hover span:before {
  -webkit-transform: scale(0.8) translate(-0.2em, -50%) rotate(42deg);
      -ms-transform: scale(0.8) translate(-0.2em, -50%) rotate(42deg);
          transform: scale(0.8) translate(-0.2em, -50%) rotate(42deg);
}



#video-controls #mute.mute span:before {
  -webkit-transform: scale(0.5) translate(-1em, -50%) rotate(36deg);
      -ms-transform: scale(0.5) translate(-1em, -50%) rotate(36deg);
          transform: scale(0.5) translate(-1em, -50%) rotate(36deg);
  opacity: 0;
}



#video-controls #full-screen {
  border: 0.4em dashed #fff;
  width: 3em;
  height: 3em;
  background: transparent;
}
